<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>BitURL - Free URL shortener service</title>
    <meta name="keywords" content="biturl, biturl.top, url, shortener, free">
  </head>
  <body style="margin: 0px;">
    <div id="main-container" />
    <script type="application/javascript">
      const host = "<%= host %>";
    </script>
    <script>	
      var _hmt = _hmt || [];	
      (function () {	
          var hm = document.createElement("script");	
          hm.src = "https://hm.baidu.com/hm.js?140366bc35e024b954612e510f817ad2";	
          var s = document.getElementsByTagName("script")[0];	
          s.parentNode.insertBefore(hm, s);	
      })();	
  </script>	
  </body>
</html>
