body {
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.header ul {
  font-size: 18px;
  list-style-type: none;
}

.header ul li {
  display: inline;
  margin: 10px;
}

.footer {
  text-align: center;
}

.input-group {
  display: table;
  vertical-align: middle;
}

.input-box {
  width: 100%;
}

.input-group button {
  margin-left: 5px;
}
.input-box {
  display: table-cell;
}

h1 {
  margin: 0px;
  font-size: 4.5em;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
}

h3 {
  font-size: 24px;
  color: #ffffff;
}
