<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>BitURL - Free URL shorten service</title>

    <!-- Bootstrap Core CSS -->
    <link href="http://assets.biturl.top/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="http://assets.biturl.top/css/style.min.css" rel="stylesheet">

    <!-- Toastr -->
    <link href="http://assets.biturl.top/css/toastr.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="http://assets.biturl.top/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css"> -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.assets/js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Header -->
    <header id="top" class="header">
        <div class="text-vertical-center">
            <h1>BitURL</h1>
            <h3>Make your links manageable.</h3>
            <br>

            <div class="col-md-8 col-md-offset-2">
                  <form class="form-inline" action="/short" method="post" id="shorten-form" role="form">
                    <div class="form-group">
                      <input type="text" id="txtUrl" name="url" class="form-control col-md-10" placeholder="Please enter URL...">
                      <div class="col-md-2">
                        <button disabled id="submit-btn" data-clipboard-target="#txtUrl" class="btn btn-success" type="button">SHORTEN</button>
                      </div>
                    </div>
                  </form>
            </div>
        </div>
    </header>

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <h4><strong>BitURL</strong>
                    </h4>
                    <hr class="small">
                    <p class="text-muted">Copyright &copy; BitURL.top 2016</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="http://assets.biturl.top/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="http://assets.biturl.top/js/bootstrap.min.js"></script>

    <!-- Shrink Url script-->
    <script src="http://assets.biturl.top/js/shorten.min.js"></script>

    <!-- Clipboard.js script-->
    <script src="http://assets.biturl.top/js/clipboard.min.js"></script>

    <!-- Toastr script-->
    <script src="http://assets.biturl.top/js/toastr.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script>
        $(document).ready(function() {
            var random_img_bg = Math.floor(Math.random() * 5 + 1);
            var imgbg = 'url(assets/img/bg' + random_img_bg + '.jpg)';
            //Set background image
            $(".header").css("background", imgbg);
            Shorten.init();
        });
    </script>

</body>

</html>
